@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #ffb75e, #ed8f03);

    --background: 35 65% 5.52%;
    --foreground: 35 10% 98.45%;

    --muted: 35 50% 20.7%;
    --muted-foreground: 35 10% 56.9%;

    --popover: 35 45% 8.969999999999999%;
    --popover-foreground: 35 10% 98.45%;

    --card: 35 45% 8.969999999999999%;
    --card-foreground: 35 10% 98.45%;

    --border: 35 50% 20.7%;
    --input: 35 50% 20.7%;

    --primary: 35 100% 69%;
    --primary-foreground: 35 10% 6.8999999999999995%;

    --secondary: 35 50% 20.7%;
    --secondary-foreground: 35 10% 98.45%;

    --accent: 35 50% 20.7%;
    --accent-foreground: 35 10% 98.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 35 10% 98.45%;

    --ring: 35 100% 69%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .bg-gradient {
    background: var(--gradient);
  }
}
